<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onSignup(signupForm)" #signupForm = "ngForm" *ngIf="!isLoading">
  <mat-form-field>
    <input matInput placeholder="Provide your email address"  type="email" #emailInput="ngModel" name="email" ngModel required email>
    <mat-error *ngIf="emailInput.invalid">Please enter a valid post email.</mat-error>
  </mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Provide your password" ngModel name="password" #passwordInput="ngModel" required>
  <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>

</mat-form-field> <br/>
<button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Signup</button>
</form>
</mat-card>

