<h1>Create Posts</h1>
<p>This page allows you create posts</p>

<!--<textarea row="6" #postInput></textarea><br/>-->

<!--<textarea row="6" [value] = "newPost" #postInput></textarea> <br/> -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit) = "onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
  <mat-form-field>
    <input placeholder="Enter Title of your Post" matInput type="text" [ngModel] = "post?.title" name="title" required minlength="3" #title="ngModel">
    <mat-error *ngIf="title.invalid">Please enter a valid post title</mat-error>
  </mat-form-field>
<mat-form-field>
  <textarea placeholder="Enter Full Text of your Post"  matInput row="6" [ngModel] = "post?.content" name="content" required minlength="3" #content="ngModel"></textarea>
  <mat-error *ngIf="content.invalid">Please enter a valid post content</mat-error>

</mat-form-field> <br/>
<button mat-raised-button color="primary" type="submit">Publish Post Method</button>
</form>
</mat-card>


<!--<button (click) ="onAddPost(postInput)">Publish Post</button> -->
<!-- <p>{{ newPost }}</p> -->
<!-- <p>{{ enteredvalue }}</p> -->
